<% content_for_header I18n.tmodel(Category), tview('edit_category') %>

<div class="row action-buttons">
  <div class="col-xs-7 col-md-7">
    <%= link_to I18n.tbtn('cancel'), bo_category_path(@category), :class => 'btn btn-default' %>
  </div>
  <div class="col-xs-5 col-md-5 align-right">
    <div class="btn-group">
      <%= link_to 'javascript:void(0)', :class => 'btn btn-primary', :onclick => '$("form").submit()' do %>
        <span class="glyphicon glyphicon-floppy-disk"></span>
      <% end %>
    </div>
  </div>
</div>

<%= render 'form', :category => @category %><br />

