<%# PARAMS: target
%>

<% if target.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="bs-callout bs-callout-danger">
        <h4><%= I18n.terr 'there_are_errors' %></h4>
          <% target.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
      </div>
    </div>
  </div>
<% end %>