<% if notice %>
  <div class="alert alert-success">
    <div class="row">
      <div class="desktop-12 tablet-8 mobile-3">
        <p><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>

<% if flash[:info] %>
  <div class="alert alert-info">
    <div class="row">
      <div class="desktop-12 tablet-8 mobile-3">
        <p><%= flash[:error] %></p></p>
      </div>
    </div>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-danger">
    <div class="row">
      <div class="desktop-12 tablet-8 mobile-3">
        <p><%= flash[:error] %></p></p>
      </div>
    </div>
  </div>
<% end %>

<% if flash[:warning] %>
  <div class="alert alert-warning">
    <div class="row">
      <div class="desktop-12 tablet-8 mobile-3">
        <p><%= flash[:warning] %></p></p>
      </div>
    </div>
  </div>
<% end %>
