<% if notice %>
  <div>
    <p><%= notice %></p>
  </div>
<% end %>

<% if flash[:info] %>
  <div>
    <p><%= flash[:error] %></p>
  </div>
<% end %>

<% if flash[:error] %>
  <div>
    <p><%= flash[:error] %></p>
  </div>
<% end %>

<% if flash[:warning] %>
  <div>
    <p><%= flash[:warning] %></p>
  </div>
<% end %>
