<div class="row page-header">
  <div class="col-md-12">
    <h1><%= tview('blog') %></h1>
  </div>
</div>

<section> 
  <% for post in @posts %>
    <%= render 'post', :post => post %>
  <% end %>
</section>