<div class="row page-header">
  <div class="col-md-12">
    <h1><%= tview('blog') %></h1>
  </div>
</div>

<section> 
  <% for post in @posts %>
    <%= render 'post', :post => post, :small => true %>
  <% end %>
</section>

<div class="row">
  <div class="col-md-12">
    <%= will_paginate @posts %>
  </div>
</div>
