/**
 * 
 * GENERAL TAGS  
 * 
 */
body{
  font-family: $default-font;
}

a, h1, h2, h3, h4, h5, h6{
  font-family: $alt-font;
}

a, a:visited, a:hover{
  text-decoration: none;
  transition: all 0.25s;
}


/**
 * 
 * GENERAL PURPOUSE  
 * 
 */
.align-right{
  text-align: right;
}
.align-left{
  text-align: left;
}

/* alerts */
.alert{
  display: none;
  cursor: pointer;
  .row{
    padding: 10px 0;
  }
}
.alert-success{
  background-color: #dff0d8;
  color: #468847;
}
.alert-info{
  background-color: #d9edf7;
  color: #3a87ad;
}
.alert-warning{
  background-color: #fcf8e3;
  color: #c09853;
}
.alert-danger{
  background-color: #f2dede;
  color: #b94a48;
}
.strikethrough{
  text-decoration:line-through;
}

.display-as-table{
  display: table;
}
.display-as-table .cell{
  display: table-cell;
  vertical-align: middle;
}

/**
 * 
 * BUTTONS
 * 
 */
@mixin button{
  border: 0;
  background-color: $coal-color;
  color: $white-color;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin: 0 5px;
  &:hover{
    background-color: $orange-dark-color;
    color: $white-color;
  }
}
.button{
  @include button;
}

@mixin button-inside{
  @include button;
  color: $btn-inside-color;
  background: $btn-inside-bg;
  box-shadow: inset 0 1px 1px $btn-inside-shadow;
  border-radius: 3px;
  &:hover{
    color: $white-color;
  }
}
.button-inside{
  @include button-inside;
}

/**
 * 
 * PAGINATION
 * 
 */
.pagination{
  margin-bottom: 30px;
  .previous_page, .next_page, a{
    @include button-inside;
    margin: 0;
  }
  .current, .gap{
    color: $btn-inside-color;
  }
  .disabled{
    display: none;
  }
}

/**
 * 
 * OTHERS
 * 
 */
/* main */
#main{
  margin: 30px auto;
}

/* page header */
.page-header{
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.continue-reading{
  margin-top: 35px;
}

.icon-and-text{
  .icon{
    margin-right: 10px;
  }
}
