#header{
  color: #FFFFFF;
  a{
    color: #717b7e;
    &:hover, .active{
      color: #FFFFFF;
    }
  }
  .title{
    background-color: #353c3e;
    .row{
      min-height: 80px;
    }
    .brand{
      font-size: 60px;
      a{
        font-family: $brand-font;
      }
    }
    .quote{
      color: #959595;
      text-align: right;
      font-style: italic;
      font-weight: 300;
      font-size: 14px;
    }
  }
  .menu{
    background-color: #40494c;
    .row{
      min-height: 60px;
    }
    a{
      margin-top: 20px;
      display: inline-block;
      margin-right: 10px;
    }
  }
  .signed{
    color: #959595;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    a{
      font-family: $default-font;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: $screen-sm-min) {
  #header{
    .title{
      .quote{
        display: none;
      }
    }
  }
}