#header{
  color: #FFFFFF;
  a{
    color: #717b7e;
    &:hover, &.active{
      color: #FFFFFF;
    }
  }
  .title{
    background-color: #353c3e;
    .row{
      min-height: 80px;
    }
    .brand{
      font-size: 60px;
      a{
        font-family: $brand-font;
      }
    }
    .quote{
      color: #959595;
      text-align: right;
      font-style: italic;
      font-weight: 300;
      font-size: 14px;
    }
  }
  .menu{
    background-color: #40494c;
    .row{
      min-height: 60px;
    }
    a{
      /*margin-top: 20px;
      display: inline-block;
      margin-right: 10px;*/
    }
  }
  .signed{
    color: #959595;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    a{
      font-family: $default-font;
    }
  }
}

/* overwrite flexnav */
.flexnav{
  li{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: initial;
    width: initial;
    margin-right: 30px;
    a{
      background-color: initial;
      background: initial;
      border-bottom: 0;
      padding: 0.36em;
      border-left: 0;
    }
  }
}
.menu-button{
  background: initial;
  border: 0;
  color: inherit;
  margin-top: 5px;
  width: 55px;
  .menu-sep{
    &:hover>div{
      background-color: #FFFFFF;
    }
    &>div{
      transition: all 0.25s;
      width: 27px;
      height: 4px;
      background-color: #717b7e;
      margin: 3px 0;
    }
  }
  .touch-button{
    display: none;
  }
}


/* Small devices (tablets, 768px and up) */
@media (max-width: $screen-sm-min) {
  #header{
    .title{
      .quote{
        &>p{
          display: none;
        }
      }
    }
  }
}