
.post{
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 1px 2px #e6e6e6;
  transition: box-shadow 0.25s;
  &:hover{
    box-shadow: 0 4px 8px #e6e6e6;
  }
}

.post-image{
  padding: 0;
  img{
    margin: auto;
    transition: all 0.25s;
  }
  a img:hover{
    opacity: 0.8;
  }
}

.post-entry{
  padding: 30px;
  .title{
    h2{
      margin-top: 0;
      color: $orange-color;
    }
    a h2:hover{
      color: $orange-dark-color;
    }
  }
  .text{
    margin-bottom: 25px;
  }
  .tags{
    .tag-title{
      margin-top: 20px;
      color: $coal-ligth-color;
      font-size: 12px;
    }
    .tag-links{
      margin-bottom: 20px;
      display: inline-block;
    }
  }
  .extra{
    font-size: 12px;
    border-top: 1px solid #e6e6e6;
    padding-top: 10px;
    color: $coal-ligth-color;
    a{
      color: $coal-ligth-color;
      &:hover{
        color: $coal-color;
      }
    }
  }
}

.post-list{
  padding: 0px 30px;
  .title h2{
    font-size: 20px;
    margin-top: 10px;
  }
}
