/* default font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
/* titles, anchors and buttons font */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* brand font */
@import url(http://fonts.googleapis.com/css?family=Vibur);

$default-font: 'Open Sans', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
$alt-font:     'Montserrat', sans-serif;
$brand-font:   'Vibur', cursive;

$white-color: #FFFFFF;
$ocher-ligth-color: #f6f6f6;
$coal-color:        #353c3e;
$coal-ligth-color:  #AAAAAA;
$green-color:       #A0D468;
$green-dark-color:  #8CC152;
$orange-color:      #FC6E51;
$orange-dark-color: #E9573F;
$btn-inside-color:  #aaa9a9;
$btn-inside-bg:     #eaeaea;
$btn-inside-shadow: #dddddd;

/**
 *   
 * OVERWRITE FROM BOOTSTRAP
 * 
 */
$body-bg:           $ocher-ligth-color;
$text-color:        $coal-color;
$link-color:        $orange-color;
$link-hover-color:  $orange-dark-color;


$font-size-h1: 28px;
$font-size-h2: 24px;
$font-size-h3: 22px;
$font-size-h4: 22px;

$headings-color: #464646;

$grid-gutter-width: 30px;
$container-sm: ((720px + $grid-gutter-width)) !default;
$container-md: ((940px + $grid-gutter-width)) !default;
$container-lg: $container-md; // default is ((1140px + $grid-gutter-width)) !default;