/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * 
 *= require prism
 *= require selectize
 *= require selectize.default
 *= require flexnav
 *= require magnific-popup/main
 *= require_self
 */

/* Custom vars and overwrite some from Bootstrap */
@import 'vars';

/* Twitter Bootstrap */
@import 'bootstrap-custom';

body{
  line-height: 1.7;
}

pre {
  word-break: normal;
  word-wrap: normal;
  margin: .5em 0 2em 0;
}
pre[class*="language-"] {
  margin: .5em 0 2em 0;
}


@import 'general';
@import 'header';
@import 'posts';



