/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * Change "require_tree ." for "require_directory ." for discard the bo
 * If you add more dire you need add new lines for "require_directory exemple_dir_name"
 *= require_directory .
 *= require ../prism
 *= require selectize
 *= require selectize.bootstrap3
 *= require ../magnific-popup/main
 */

$navbar-inverse-bg: #343434;
$navbar-inverse-border: #1D1D1D;
$navbar-inverse-link-active-bg: #222222;

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

body {
  padding-top: 50px;
}

#header{
  min-height: 120px;
  background-image: url('/assets/patterns/escheresque_ste.png');
  color: #fff;
  margin-bottom: 20px;
}

/* general purpouse */
.align-right{
  text-align: right;
}
.align-left{
  text-align: left;
}

td.btn-group-for-3-btns{
  width: 140px;
}
td.btn-group-for-4-btns {
  width: 180px;
}

/* Code text area */
textarea.code{
  font-family: 'Source Code Pro', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

/* fixed action buttons */
.action-buttons{
  position: absolute;
  width: inherit;
  height: 35px;
  max-height: 35px;
  min-height: 35px;
}
.fixed-action-buttons{
  position: fixed;
  top: 60px;
  z-index: 1030;
}
.fake-action-buttons{
  display: block;
  height: 35px;
  max-height: 35px;
  min-height: 35px;
}

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
  
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.bs-callout-danger h4 {
  color: #b94a48;
}
.bs-callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.bs-callout-warning h4 {
  color: #c09853;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.bs-callout-info h4 {
  color: #3a87ad;
}
